{% extends 'base.html' %}

{% block content %}

<div class="container px-4 py-5">
<h2 class="h2 section-title" style="margin-bottom:15px">Privacy Policy</h2>
  <p><strong>Last Updated: 01-01-2025</strong></p>

  <main>
        <section>
            <h2><strong>Information We Collect</strong></h2>
            <p>We collect personal details such as your name, email, phone number, and travel preferences to process inquiries, bookings, and payments securely.</p>
        </section>

        <section>
            <h2><strong>How We Use Your Information</strong></h2>
            <ul>
                <li>1. Respond to inquiries and process bookings.</li>
                <li>2. Provide personalized travel offers and updates.</li>
                <li>3. Improve our services and website experience.</li>
            </ul>
        </section>

        <section>
            <h2><strong>Information Sharing</strong></h2>
            <p>We only share your data with trusted partners to facilitate bookings or comply with legal requirements.</p>
        </section>

        <section>
            <h2><strong>Data Security</strong></h2>
            <p>We implement security measures to protect your data from unauthorized access or misuse.</p>
        </section>

        <section>
            <h2><strong>Your Rights</strong></h2>
            <p>You can access, update, or delete your data and opt-out of promotional communications by contacting us.</p>
        </section>

        <section>
            <h2><strong>Contact Us</strong></h2>
            <p>If you have questions or concerns, reach us at:</p>
            <p style="margin: 0px"><strong>Email:</strong> info@wanderwelltravels.in</p>
            <p><strong>Phone:</strong> +91 7006893950</p>

        </section>
    </main>


</div>



<div class="container px-4" style="padding-top:0px; padding-bottom: 20px;">
<h2 class="pb-2 border-bottom h2 section-title">Refund Policy</h2>

<table class="table table-bordered table-striped cancel">
  <thead>
    <tr>
      <th scope="col" colspan="2">Cancellation and Refund Timelines</th>
    </tr>
  </thead>
  <tbody>
    <tr>

      <td>60 days pre-travel date</td>
      <td>80% amount will be refunded of total package cost</td>


    </tr>
    <tr>

      <td>59-40 days pre-travel date</td>
      <td>50% amount will be refunded of total package cost</td>

    </tr>
    <tr>

      <td>39-25 days pre-travel date</td>
      <td>25% amount will be refunded of total package cost</td>
    </tr>
    <tr>

      <td>24-15 days pre-travel date</td>
      <td>15% amount will be refunded of total package cost</td>
    </tr>
    <tr>

      <td>Less than 15 days</td>
      <td>No Refund</td>
    </tr>

  </tbody>
</table>
</div>

{% endblock %}