{% from "bootstrap5/form.html" import render_form %} {% extends 'base.html' %}

{% block content %}

<!-- Page Header-->
<section class="section about">
        <div class="container">
            <div class="about-content">

              {% if not message: %}
              <p class="section-subtitle question">Have questions? We have answers.</p>
              <h2 class="h2 section-title" id="contact-1">Leave a Message</h2>
              {% else: %}
              <p class="section-subtitle question" id="contact-2">We will contact you shortly.</p>
              <h2 class="h2 section-title contact">Successfully sent your message</h2>
              {% endif %}

            </div>
        </div>
</section>

<!-- Main Content-->
<main class="mb-4">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        {{ ckeditor.load(pkg_type="full") }} {{ ckeditor.config(name='message') }}
        {{ render_form(form, novalidate=True, button_map={"submit": "primary"}) }}
      </div>

    <div class="col-lg-4 col-md-8 contact-table mx-auto" id="custom-cards">
<div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" style="background-image: url('/static/assets/images/contact-bg2.jpg');">
          <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">

            <ul class="location-card">
                    <li>
                      <ion-icon class="location contact-icon" name="call"> </ion-icon>
                    </li>

                    <li>
                      <p class="contact-info">+91 7006893950</p>
                    </li>
            </ul>
            <ul class="location-card">
                    <li>
                      <ion-icon class="location contact-icon" name="mail"> </ion-icon>
                    </li>

                    <li>
                      <p class="contact-info">info@wanderwelltravels.in</p>
                    </li>
            </ul>
            <ul class="location-card">
                    <li>
                      <ion-icon class="location contact-icon" name="location"> </ion-icon>
                    </li>

                    <li>
                      <p class="contact-info">Inderhama, Burzahama near Power Station, Hazratbal, Srinagar, Jammu and Kashmir, 190006</p>
                    </li>
            </ul>

              <ul class="social-list social-icons">

          <li>
            <a href="https://www.facebook.com/wanderwelltravels" target="_blank" class="social-link">
              <ion-icon name="logo-facebook"></ion-icon>
            </a>
          </li>

          <li>
            <a href="https://twitter.com/@wanderwelltrvls" target="_blank" class="social-link">
              <ion-icon name="logo-twitter"></ion-icon>
            </a>
          </li>

          <li>
            <a href="https://www.instagram.com/wanderwell.travels?igsh=eGphZmx2OXhtOTJx&utm_source=qr" target="_blank" class="social-link">
              <ion-icon name="logo-instagram"></ion-icon>
            </a>
          </li>

          <li>
            <a href=https://business.google.com/n/9068413222876130316/profile?hl=en-GB&fid=6323489742240405653 target="_blank" class="social-link">
              <ion-icon name="logo-google"></ion-icon>
            </a>
          </li>
        </ul>

          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3301.1300347114147!2d74.85974257404693!3d34.168592911580554!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38e1856edfd8f587%3A0x57c18c6ad310d895!2sWanderwell%20Travels!5e0!3m2!1sen!2sin!4v1711437649237!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="1" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

{% endblock %}
