{% extends 'base.html' %}

{% block content %}

<main>
    <article>

<!--
        - #PHOTOS
      -->


      <section class="section hero"
        style="background-image: url('../static/assets/images/bg.jpg'); background-repeat: no-repeat;
  background-size: 100% 100%; padding-top: 20px; padding-bottom: 20px">
        <div class="container">

          <div class="hero-content">

            <p class="section-subtitle" style="font-size:30px">Explore Paradise with us!</p>

            <h2 class="hero-title" style="font-size:45px; margin-bottom:25px">Wanderwell Travels</h2>

<!--              <p class="section-subtitle question" style="font-size:26px; margin-bottom:5px">Limited-Time Offer</p>-->
<!--              <h3 class="h2 section-title" style="font-size:24px">Get up to 50% off all Kashmir Tour Packages!!</h3>-->
              <p class="hero-text" style="margin-bottom:10px;margin-top:5px">
              Discover the enchanting beauty of Kashmir with us. We specialize in crafting unforgettable experiences amidst the breathtaking landscapes of the paradise on earth.
            </p>

            <div class="btn-group" style="padding-bottom:12em;">

              <a href="https://api.whatsapp.com/send/?phone=917006893950&text&type=phone_number&app_absent=0" target="_blank" onclick="gtag_report_conversion2()">
                <ul class="btn btn-primary location-card" style="width:140px; display;inline-block" >
                    <li style="padding-left:15px; padding-right:10px">
                      <ion-icon name="logo-whatsapp" style="font-size:15px"></ion-icon>
                    </li>

                    <li style="font-size:13px">
                      Whatsapp
                    </li>
              </ul>
              </a>

              <a href="tel:917006893950" onclick="gtag_report_conversion3()">
              <ul class="btn btn-outline location-card" style="width:140px; display;inline-block">
                    <li style="padding-left:15px; padding-right:2px">
                      <ion-icon class="location contact-icon" name="call" style="font-size:15px"> </ion-icon>
                    </li>

                    <li style="font-size:13px; color:black">
                      7006893950
                    </li>
              </ul>
                </a>

            </div>

            <h3 class="h2 section-title" style="font-size:30px; padding-bottom:1em">Explore the Majestic Beauty of Kashmir</h3>

            <p class="hero-text">
              Looking for a magical escape to Kashmir? Discover the beauty of Kashmir with our tailor-made travel packages! Explore the breathtaking landscapes of Gulmarg, the winter wonderland perfect for skiing; the serene meadows of Sonamarg; the tranquil charm of Pahalgam; the untouched beauty of Doodhpathri; the cultural richness of Srinagar with its famous Dal Lake; and the peaceful retreat of Yousmarg. Let us craft your perfect Kashmir getaway today—book now for an unforgettable adventure in paradise!
            </p>


          </div>


        </div>
      </section>

        <!-- Page Header-->

       <div class="container">
    <div class="row">

      <div class="col-lg-8 col-md-10">

    <section class="section about" style="padding-bottom:0px;padding-top:10px">

            <div class="about-content" style="margin-bottom:0px">

              {% if not message: %}
              <p class="section-subtitle question" style="font-size:26px">Get Your Free Kashmir Travel Plan!</p>
              <h2 class="h2 section-title" id="contact-1" style="font-size:24px">Get up to 50% off all Packages</h2>
              <p class="hero-text" style="margin-bottom:0px;margin-top:10px;">
              This limited-time offer ends soon. Fill out the form below, and our travel experts will design a custom itinerary just for you!
              </p>
              {% else: %}
              <p class="section-subtitle question" id="contact-2" style="font-size:26px">We will contact you shortly.</p>
              <h2 class="h2 section-title contact" style="font-size:24px">Thank you for your enquiry</h2>
              {% endif %}

            </div>

    </section>


<!-- Main Content-->



          <form action="{{ url_for('landing_page') }}" method="post" class="form" role="form" onsubmit="gtag_report_conversion()">
        <input id="csrf_token" name="csrf_token" type="hidden" value="IjJmZmQ0NGQ1YzJjYjhiMjhjZWZkZTFlZTlkODg5YjlhOTVlMDcyMmEi.ZslxFw.OILTPRkIpUDWPiV0f6NE8TA2_x8">

    <div class="mb-3 required"><label class="form-label" for="name">Name (optional)</label>
                        <input class="form-control" id="name" name="name" type="text" value="">

        </div>

    <div class="mb-3 required"><label class="form-label" for="email_address">Email Address (optional)</label>
                        <input class="form-control" id="email_address" name="email_address" type="text" value="">

        </div>

    <div class="mb-3 required"><label class="form-label" for="phone">Phone*</label>
                        <input class="form-control" id="phone" name="phone" required="" type="number" value=""
                               oninvalid="alert('Please input a valid phone number.')">

        </div>


            <input class="btn btn-primary btn-md" id="submit" name="submit" type="submit" value="Plan your Trip now">

    </form>
      </div>


      <div class="col-lg-4 col-md-8 contact-table mx-auto" id="custom-cards" style="padding-top:40px; padding-bottom:30px">
        <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" style="background-image: url('/static/assets/images/contact-bg2.jpg'); background-repeat: no-repeat;
  background-size: 100% 100%;">
          <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">

            <ul class="location-card">
                    <li>
                      <ion-icon class="location contact-icon" name="call"> </ion-icon>
                    </li>

                    <li>
                      <p class="contact-info">7006893950</p>
                    </li>
            </ul>
            <ul class="location-card">
                    <li>
                      <ion-icon class="location contact-icon" name="mail"> </ion-icon>
                    </li>

                    <li>
                      <p class="contact-info">info@wanderwelltravels.in</p>
                    </li>
            </ul>
            <ul class="location-card">
                    <li>
                      <ion-icon class="location contact-icon" name="location"> </ion-icon>
                    </li>

                    <li>
                      <p class="contact-info">Inderhama, Burzahama near Power Station, Hazratbal, Srinagar, Jammu and Kashmir, 190006</p>
                    </li>
            </ul>

              <ul class="social-list social-icons">

          <li>
            <a href="https://www.facebook.com/wanderwelltravels" target="_blank" class="social-link">
              <ion-icon name="logo-facebook"></ion-icon>
            </a>
          </li>

          <li>
            <a href="https://twitter.com/@wanderwelltrvls" target="_blank" class="social-link">
              <ion-icon name="logo-twitter"></ion-icon>
            </a>
          </li>

          <li>
            <a href="https://www.instagram.com/wanderwell.travels?igsh=eGphZmx2OXhtOTJx&utm_source=qr" target="_blank" class="social-link">
              <ion-icon name="logo-instagram"></ion-icon>
            </a>
          </li>

          <li>
            <a href=https://business.google.com/n/9068413222876130316/profile?hl=en-GB&fid=6323489742240405653 target="_blank" class="social-link">
              <ion-icon name="logo-google"></ion-icon>
            </a>
          </li>
        </ul>

          </div>
        </div>
      </div>
    </div>
    </div>



       <!--
        - #PHOTOS
      -->


      <section class="section popular">
        <div class="container">

          <p class="section-subtitle">Explore Paradise</p>

          <h2 class="h2 section-title">Explore Kashmir's Hidden Gems</h2>

<div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-theme="dark">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5" aria-label="Slide 6"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="6" aria-label="Slide 7"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="7" aria-label="Slide 8"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="8" aria-label="Slide 9"></button>

  </div>
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="10000">
      <img src="{{ url_for('static', filename='assets/images/popular-3.jpg') }}" class="d-block w-100" alt="Snow clad Road to Gulmarg">
      <div class="carousel-caption d-none d-md-block">
        <h5>Snow clad Road to Gulmarg</h5>
        <p>Kashmir</p>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img src="{{ url_for('static', filename='assets/images/popular-2.jpg') }}" class="d-block w-100" alt="Kangdoori Meadow in Gulmarg">
      <div class="carousel-caption d-none d-md-block">
        <h5>Kangdoori Meadow in Gulmarg</h5>
        <p>Kashmir</p>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img src="{{ url_for('static', filename='assets/images/popular-4.jpg') }}" class="d-block w-100" alt="Shikara and Houseboats in Srinagar">
      <div class="carousel-caption d-none d-md-block">
        <h5 style="color: white">Shikara and Houseboats in Srinagar</h5>
        <p style="color: white">Kashmir</p>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img src="{{ url_for('static', filename='assets/images/popular-5.jpg') }}" class="d-block w-100" alt="Skiing in Gulmarg">
      <div class="carousel-caption d-none d-md-block">
        <h5>Skiing in Gulmarg</h5>
        <p>Kashmir</p>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img src="{{ url_for('static', filename='assets/images/popular-6.jpg') }}" class="d-block w-100" alt="Gulmarg">
      <div class="carousel-caption d-none d-md-block">
        <h5>Gulmarg</h5>
        <p>Kashmir</p>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img src="{{ url_for('static', filename='assets/images/popular-7.jpg') }}" class="d-block w-100" alt="Wildflowers Bloom in Gulmarg">
      <div class="carousel-caption d-none d-md-block">
        <h5 style="color: white">Wildflowers Bloom in Gulmarg</h5>
        <p style="color: white">Kashmir</p>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img src="{{ url_for('static', filename='assets/images/popular-8.jpg') }}" class="d-block w-100" alt="Tulip Garden in Srinagar">
      <div class="carousel-caption d-none d-md-block">
        <h5 style="color: white">Tulip Garden in Srinagar</h5>
        <p style="color: white">Kashmir</p>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img src="{{ url_for('static', filename='assets/images/popular-9.jpg') }}" class="d-block w-100" alt="Gondola in Gulmarg">
      <div class="carousel-caption d-none d-md-block">
        <h5>Gondola in Gulmarg</h5>
        <p>Kashmir</p>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img src="{{ url_for('static', filename='assets/images/popular-10.jpg') }}" class="d-block w-100" alt="Lidder River in winter in Pahalgam">
      <div class="carousel-caption d-none d-md-block">
        <h5>Lidder River in winter in Pahalgam</h5>
        <p>Kashmir</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

            <ul class="about-list" style="margin-top:40px; margin-bottom:0px">

              <li class="about-item">

                <div class="about-item-icon">
                  <ion-icon name="snow-outline"></ion-icon>
                </div>

                <div class="about-item-content">
                  <h3 class="h3 about-item-title">Gulmarg – Snow-Capped Peaks and Adventure Awaits</h3>

                  <p class="about-item-text">
                    Experience the thrill of Gulmarg, where you can ski on powdery slopes, enjoy breathtaking views from the Gondola, or simply walk through its beautiful meadows.</p>
                </div>

              </li>

              <li class="about-item">

                <div class="about-item-icon">
                  <ion-icon name="snow-outline"></ion-icon>
                </div>

                <div class="about-item-content">
                  <h3 class="h3 about-item-title">Sonamarg – The Valley of Gold</h3>

                  <p class="about-item-text">
                    With its towering peaks and pristine rivers, Sonamarg is a nature lover's dream. Trek, camp, or just relax in this tranquil paradise.</p>
                </div>

              </li>

              <li class="about-item">

                <div class="about-item-icon">
                  <ion-icon name="snow-outline"></ion-icon>
                </div>

                <div class="about-item-content">
                  <h3 class="h3 about-item-title">Pahalgam – The Peaceful Escape</h3>

                  <p class="about-item-text">
                    Known for its lush greenery, serene rivers, and peaceful atmosphere, Pahalgam offers a perfect mix of relaxation and outdoor exploration.</p>
                </div>

              </li>

              <li class="about-item">

                <div class="about-item-icon">
                  <ion-icon name="snow-outline"></ion-icon>
                </div>

                <div class="about-item-content">
                  <h3 class="h3 about-item-title">Srinagar – The Heart of Kashmir</h3>

                  <p class="about-item-text">
                    From the serene Dal Lake to the magnificent Mughal Gardens, Srinagar is the heart of Kashmir. Enjoy a Shikara ride on Dal Lake, explore the historical sites like the Shankaracharya Temple, and indulge in authentic Kashmiri cuisine. Srinagar is the perfect blend of culture and natural beauty.</p>
                </div>

              </li>

              <li class="about-item">

                <div class="about-item-icon">
                  <ion-icon name="snow-outline"></ion-icon>
                </div>

                <div class="about-item-content">
                  <h3 class="h3 about-item-title">Doodhpathri – The Milk Valley</h3>

                  <p class="about-item-text">
                    Escape to Doodhpathri, a serene valley with vast meadows, flowing streams, and breathtaking views—a true hidden gem in Kashmir.</p>
                </div>

              </li>

              <li class="about-item">

                <div class="about-item-icon">
                  <ion-icon name="snow-outline"></ion-icon>
                </div>

                <div class="about-item-content">
                  <h3 class="h3 about-item-title">Yousmarg – Your Tranquil Retreat</h3>

                  <p class="about-item-text">
                    Yousmarg is a quiet paradise surrounded by dense forests and majestic mountains. It's perfect for those seeking solitude, natural beauty, and peace.</p>
                </div>

              </li>

              <li class="about-item">

                <div class="about-item-icon">
                  <ion-icon name="snow-outline"></ion-icon>
                </div>

                <div class="about-item-content">
                  <h3 class="h3 about-item-title">Gurez Valley – Your Offbeat Kashmir Destination</h3>

                  <p class="about-item-text">
                    Nestled in the heart of Kashmir, Gurez Valley is a hidden gem waiting to be discovered. With its breathtaking landscapes, pristine rivers, and snow-capped peaks, Gurez Valley offers a serene escape into nature's untouched beauty.</p>
                </div>

              </li>

              <li class="about-item">

                <div class="about-item-icon">
                  <ion-icon name="snow-outline"></ion-icon>
                </div>

                <div class="about-item-content">
                  <h3 class="h3 about-item-title">Bangus Valley – The Valley From Fairy Tales </h3>

                  <p class="about-item-text">
                    Bangus Valley, often referred to as Kashmir's best-kept secret, is a paradise for nature lovers. The valley's lush green meadows, vibrant flora, and crystal-clear streams create a picturesque haven that feels like a dream come true.</p>
                </div>

              </li>

              <li class="about-item">

                <div class="about-item-icon">
                  <ion-icon name="snow-outline"></ion-icon>
                </div>

                <div class="about-item-content">
                  <h3 class="h3 about-item-title">Vaishno Devi – Spiritual Journey Awaits </h3>

                  <p class="about-item-text">
                    The Vaishno Devi Yatra is one of the most revered pilgrimages in India, attracting millions of devotees each year. Nestled in the Trikuta Mountains, the holy shrine of Vaishno Devi is a symbol of faith and devotion.</p>
                </div>

              </li>

            </ul>


        </div>

      </section>

      <!--
        - #POPULAR
      -->

      <section class="section popular">
        <div class="container">

          <p class="section-subtitle">Featured Tours</p>

          <h2 class="h2 section-title">{{ destination }} Tours</h2>

          <ul class="popular-list">
            {% for tour in tours: %}
            <li>
              <div class="popular-card">

                <figure class="card-banner">
                  <a href="{{ url_for('tour_details', tour_id=tour.id) }}">
                    <img src="{{ tour.img_url }}" width="740" height="518" loading="lazy"
                      alt="tour card" class="img-cover">
                  </a>

                  <span class="card-badge">
                    <ion-icon name="time-outline"></ion-icon>

                    <time datetime="P12D">{{ tour.time }}</time>
                  </span>
                </figure>

                <div class="card-content">

                  <div class="card-wrapper">
                    <div class="card-price">From ₹{{ tour.price }}</div>

                    <div class="card-rating">
                      <ion-icon name="airplane-outline"></ion-icon>
                      <ion-icon name="bed"></ion-icon>
                      <ion-icon name="car"></ion-icon>
                      <ion-icon name="restaurant"></ion-icon>
                      <ion-icon name="glasses"></ion-icon>

                    </div>
                  </div>

                  <h3 class="card-title">
                    <a href="{{ url_for('tour_details', tour_id=tour.id) }}">{{ tour.title }}</a>
                  </h3>

                  <ul class="location-card">
                    <li>
                      <ion-icon class="location" name="location"> </ion-icon>
                    </li>

                    <li>
                      <address class="card-location">{{ tour.location }}</address>
                    </li>
                  </ul>

                </div>

              </div>
            </li>
            {% endfor %}
          </ul>
        </div>
      </section>






      <!--
        - # Why choose us
      -->

      <section class="section about">
        <div class="container">

          <div class="about-content">

            <p class="section-subtitle">Why Choose Us</p>

            <h2 class="h2 section-title">What Sets Us Apart</h2>

            <ul class="about-list">

              <li class="about-item">

                <div class="about-item-icon">
                  <ion-icon name="school"></ion-icon>
                </div>

                <div class="about-item-content">
                  <h3 class="h3 about-item-title">Expertise</h3>

                  <p class="about-item-text">
                    Our team comprises seasoned travel experts with in-depth knowledge of diverse destinations, ensuring a well-planned and enriching experience for every traveler.
                  </p>
                </div>

              </li>

              <li class="about-item">

                <div class="about-item-icon">
                  <ion-icon name="pencil"></ion-icon>
                </div>

                <div class="about-item-content">
                  <h3 class="h3 about-item-title">Customized Itineraries</h3>

                  <p class="about-item-text">
                    We believe in personalization. Our itineraries are tailor-made to suit your preferences, interests, and budget, guaranteeing a unique and memorable journey.
                  </p>
                </div>

              </li>

              <li class="about-item">

                <div class="about-item-icon">
                  <ion-icon name="construct"></ion-icon>
                </div>

                <div class="about-item-content">
                  <h3 class="h3 about-item-title">Exceptional Service</h3>

                  <p class="about-item-text">
                    From start to finish, our dedicated team is committed to providing excellent service, ensuring your comfort, safety, and satisfaction throughout your journey.
                  </p>
                </div>

              </li>

              <li class="about-item">

                <div class="about-item-icon">
                  <ion-icon name="umbrella"></ion-icon>
                </div>

                <div class="about-item-content">
                  <h3 class="h3 about-item-title">Value for Money</h3>

                  <p class="about-item-text">
                    We offer competitive pricing without compromising on quality, providing you with great value for your investment in unforgettable travel experiences.
                  </p>
                </div>

              </li>

              <li class="about-item">

                <div class="about-item-icon">
                  <ion-icon name="call"></ion-icon>
                </div>

                <div class="about-item-content">
                  <h3 class="h3 about-item-title">24/7 Support</h3>

                  <p class="about-item-text">
                    Your convenience and peace of mind are our priorities. Our support team is available round the clock to assist you with any queries or emergencies during your trip.
                  </p>
                </div>

              </li>

            </ul>

            <a href="{{ url_for('contact') }}" onclick="gtag_report_conversion2()" class="btn btn-primary">Book Now</a>

          </div>


          <figure class="about-banner">
            <img src="{{ url_for('static', filename='assets/images/why-us.png') }}" width="756" height="842" loading="lazy" alt="Why us?" class="w-100">
          </figure>

        </div>

      </section>
    </article>


   <div class="container mt-5" style="padding-bottom:40px">
        <p class="section-subtitle" style="text-align:center">Customer Testimonials</p>

          <h2 class="h2 section-title" style="text-align:center">What Our Customers Say</h2>

        <div id="reviewsCarousel" class="carousel slide" data-bs-ride="carousel">
            <!-- Carousel Items -->
            <div class="carousel-inner" style="padding-top:20px">
                {% for review in reviews %}
                <div class="carousel-item {% if loop.first %}active{% endif %}">
                    <div class="card mx-auto reviews">
                        <div class="card-body reviews">
                            <div class="d-flex align-items-center mb-3">
                                <img src="{{ review.profile_photo_url }}"
                                     alt="{{ review.author_name }}'s profile picture"
                                     class="rounded-circle me-3"
                                     style="width: 60px; height: 60px;">
                                <h5 class="mb-0" style="font-size:18px">{{ review.author_name }}</h5>
                            </div>
                            <div class="stars">
                                {% for star in range(review.rating) %}
                                <span class="text-warning">&#9733;</span>
                                {% endfor %}
                                {% for star in range(5 - review.rating) %}
                                <span class="text-secondary">&#9733;</span>
                                {% endfor %}
                            </div>
                            <p class="card-text mt-3" style="font-size:14px">"{{ review.text }}"</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>

            <!-- Carousel Indicators -->
            <div class="carousel-indicators reviews">
                {% for i in reviews %}
                <button
                    type="button"
                    data-bs-target="#reviewsCarousel"
                    data-bs-slide-to="{{ loop.index0 }}"
                    class="{% if loop.first %}active{% endif %}"
                    aria-current="{% if loop.first %}true{% endif %}"
                    aria-label="Slide {{ loop.index }}">
                </button>
                {% endfor %}
            </div>

            <!-- Carousel Controls -->
            <button class="carousel-control-prev reviews" type="button" data-bs-target="#reviewsCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next reviews" type="button" data-bs-target="#reviewsCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>


{% if not message: %}
    <!-- Modal -->
  <div class="modal fade" id="autoPopupModal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-md">
      <div class="modal-content">
          <div class="modal-header">

              <section class="section about" style="padding-bottom:0px;padding-top:10px">

                <div class="about-content"  style="margin-bottom:0px">

                  <p class="section-subtitle question" style="font-size:19px">Get Your Free Kashmir Travel Plan!</p>
                  <h2 class="h2 section-title" style="font-size:17px; margin-bottom: 10px">Get up to 50% off all Packages</h2>
                    <p class="hero-text" style="margin-bottom:0px;margin-top:10px; font-size: 10px">
              This limited-time offer ends soon. Fill out the form below, and our travel experts will design a custom itinerary just for you!
            </p>

                </div>

              </section>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
<!-- Main Content-->
        <div class="modal-body">
          <form action="{{ url_for('landing_page') }}" method="post" class="form" role="form" onsubmit="gtag_report_conversion()" style="padding-bottom:5px">
        <input name="csrf_token" type="hidden" value="IjJmZmQ0NGQ1YzJjYjhiMjhjZWZkZTFlZTlkODg5YjlhOTVlMDcyMmEi.ZslxFw.OILTPRkIpUDWPiV0f6NE8TA2_x8">

    <div class="mb-3 required"><label class="form-label popup" for="name">Name (optional)</label>
                        <input class="form-control" name="name" type="text" value="">

        </div>

    <div class="mb-3 required"><label class="form-label popup" for="email_address">Email Address (optional)</label>
                        <input class="form-control" name="email_address" type="text" value="">

        </div>

    <div class="mb-3 required"><label class="form-label popup" for="phone">Phone*</label>
                        <input class="form-control" name="phone" required="" type="number" value=""
                               oninvalid="alert('Please input a valid phone number.')">

        </div>


            <input class="btn btn-primary btn-md" name="submit" type="submit" value="Plan your Trip now">

    </form>
            </div>
      </div>
           </div>
         </div>
    {% endif %}

  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3301.1300347114147!2d74.85974257404693!3d34.168592911580554!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38e1856edfd8f587%3A0x57c18c6ad310d895!2sWanderwell%20Travels!5e0!3m2!1sen!2sin!4v1711437649237!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="1" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

  </main>


{% endblock %}

{% block javascript %}
<script>
    document.addEventListener('DOMContentLoaded', function () {
      setTimeout(function () {
        const myModal = new bootstrap.Modal(document.getElementById('autoPopupModal'));
        myModal.show();
      }, 20000);
    });
  </script>
{% endblock %}